<!DOCTYPE html>
<html>
    <head>
        <title>AskMate - {% block title %} {{ page_title }} {% endblock %}</title>
        <meta name="description" content="AskMate knowledge base">
        <meta name="keywords" content="programming">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        {% if not main %}
        <a href="/"><button>Main Page</button></a>
        {% else %}
        <a href="/list"><button>List All Questions</button></a>
        {% endif %}
        {% block body %}
        <a href="/new-question"><button>Ask Question</button></a>
        {% set question_fields = {'ID':0, 'SUB_TIME': 1, 'VIEW': 2, 'VOTE': 3, 'TITLE': 4} %}
        <ul>
        {% for item in table %}
            <a href="/question/{{ item[question_fields['ID']] }}"><li> {{ item[question_fields['TITLE']]  }} </li></a>
        {% endfor %}
        </ul>
        {% endblock %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </body>
</html>