<!DOCTYPE html>
<html>
    <head>
        <title>AskMate - {% block title %} {{ page_title }} {% endblock %}</title>
        <meta name="description" content="AskMate knowledge base">
        <meta name="keywords" content="programming">
    </head>
    <body>
        {% block body %}
        {% set question_fields = {'SUB_TIME': 0, 'VIEW': 1, 'VOTE': 2, 'TITLE': 3} %}
        <ul>
        {% for item in table %}
            <li> {{ item[question_fields['TITLE']]  }} </li>
        </ul>
        {% endfor %}
        {% endblock %}
    </body>
</html>