<!DOCTYPE html>
<html>
    <head>
        <title>AskMate - {% block title %} {{ page_title }} {% endblock %}</title>
        <meta name="description" content="AskMate knowledge base">
        <meta name="keywords" content="programming">
    </head>
    <body>
        {% block body %}
        <a href="/new-question"><button>Ask Question</button></a>
        {% set question_fields = {'SUB_TIME': 0, 'VIEW': 1, 'VOTE': 2, 'TITLE': 3} %}
        <ul>
        {% for item in table %}
            <li> {{ item[question_fields['TITLE']]  }} </li>
        </ul>
        {% endfor %}
        {% endblock %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </body>
</html>